
.Header{
    position: sticky;
    top: 0;
    color: #d5d5d4;
    background-color: rgb(47, 46, 42);
    padding: 2px;
    font-family: 'Rock Salt', cursive;
}
.Footer {
    background-color: #afafad;
    padding: 1px;
}
body {
    background-color: #d5d5d4;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.Imagenes {
    background-color: #d5d5d4;
}
.EnvíosGratis{
    color: rgb(47, 46, 42);
    text-align: center;
    padding: 1px;
    background-color: #d5d5d4;
}
th {
    color: rgb(47, 46, 42);
    padding: 10px;
}
.Contacto {
    text-align:left;
    color: rgb(47, 46, 42);
    font-family:sans-serif;
    background-color: #afafad;
}
p {
    text-align:left;
    color: rgb(47, 46, 42);
    font-family:sans-serif;
}
