body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.Header {   
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(47, 46, 42);
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Ysabeau', sans-serif;
    font-size: 15px;
}
.titulo {
    text-decoration: none;
    color: white;
}
.botones {
    width: 50px;
    height: 50px;
}

.linkPpal {
    text-decoration: none;
    color:rgb(47, 46, 42);
    font-family:sans-serif;
    padding: 5px;
    font-weight: bold;
    width: 10%;
}

.pedido {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.precio {
    display: flex;
    justify-content: space-around;
    background-color: rgb(203, 163, 172);
}
.listado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.h {
    margin: 5px;
}
